".text.html.php:not(.source)":

  "The Loop is PHP code used by WordPress to display posts":
    "prefix": "wp-loop"
    "body": """
    <?php if (have_posts()) : ?>
      <?php while (have_posts()) : the_post(); ?>
      <?php endwhile; ?>
    <?php endif; ?>
    """

  "Blank query argument":
    "prefix": "wp-arg"
    "body": """
    $args = array(
        '${1:parameter}' => '${2:value}'
    );
    """

  "Basic WP_Query":
    "prefix": "wp-query"
    "body": """
    <?php
    $args = array(
      '${1:parameter}' => '${2:value}'
    );
    $query = new WP_Query( $args );
    if ( $query->have_posts() ) : ?>
        <?php while ( $query->have_posts() ) : $query->the_post(); ?>
          <?php the_title(); ?>
        <?php endwhile; ?>
    <?php endif; ?>
    <?php wp_reset_postdata(); ?>
    """
